{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>HELLO THERE!!! Welcome To My Own Online Shop!</h1>
    <p>Praktik TIK Achmad Bayquni Alfarisi (19/447309/SV/17003)</p>

    <!-- button
      <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
    </p>
     -->
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Acsesoris</h2>
      <p>High Quality Material!</p>

      <!-- button
      <p>
        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
      </p>
      -->
    </div>
    <div class="col-md-4">
      <h2>Services</h2>
      <p>Lifetime Guarantee!!</p>

      <!-- button
        <p>
        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
      </p>
       -->
    </div>
    <div class="col-md-4">
      <h2>Sparepart</h2>
      <p>Anti-Mainstream Sparepart!!</p>

      <!-- button 
        <p>
        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
      </p>
      -->
    </div>
  </div>
</div>
{% endblock %}
